[Unit]
Description=Rider Cam Service

[Service]
Type=simple
Restart=on-success
ExecStart=/usr/local/rider-cam/bin/run_rider_cam

[Install]
WantedBy=multi-user.target

